@import "../Utils/Mixins/Mixins.scss";

.home {
  text-align: left;
  h1 {
    span {
      text-shadow: 4px 4px 3px black;
    }
  }
  .content {
    display: flex;
    .posts {
      margin: 0 2em;
      section {
        display: flex;
        flex-direction: column;
        margin-bottom: 3em;
        img {
          width: 100%;
          box-shadow: 10px 10px 12px $darkBlue;
        }
        h4 {
          margin: 1em auto 0em;
          font-size: 1.3em;
          // text-decoration: underline;
        }

        .author {
          align-self: flex-end;
          font-style: italic;
        }
        a {
          text-decoration: none;
          color: $orange;
          &:hover {
            color: $lightBlue;
          }
        }
        .more-btn {
          width: -webkit-max-content;
          width: -moz-max-content;
          width: max-content;
          // align-self: flex-end;
          background: $royalBlue;
          color: $lightBlue;
          border-radius: 0.5em;
          padding: 0.2em 0.5em;
          font-weight: 700;
          text-decoration: none;
          &:hover {
            color: $green;
          }
        }
      }

      #commas {
        width: 10%;
        margin-bottom: 0.5em;
        box-shadow: none;
      }
    }
  }
  .about {
    display: flex;
    background: white;
    div {
      // margin-right: 2em;
      // margin-bottom: 1em;
      margin: 0 1em 1em;
      width: 20%;
      display: flex;
      flex-direction: column;
      h3 {
        margin-bottom: 0;
        color: $orange;
      }
      a {
        text-decoration: none;
        color: inherit;
        padding: 0.125em 0;
        &:hover {
          color: $lightBlue;
        }
      }
    }
  }
  .new-articles {
    margin: 1em auto 4em;

    h2 {
      text-align: center;
      font-size: 2em;
      margin: 1.25em auto 1em;
    }
    div {
      display: flex;
      flex-wrap: wrap;
      min-height: -webkit-min-content;
      min-height: -moz-min-content;
      min-height: min-content;

      .new-article {
        border: 4px solid $darkBlue;
        width: 26%;
        min-width: -webkit-min-content;
        min-width: -moz-min-content;
        min-width: min-content;
        margin: 0 auto 1.25em;
        overflow: hidden;
        @include breakpoint(s, m) {
          width: 40%;
          margin-bottom: 2em;
        }
        @include breakpoint(xxs, xs) {
          width: 80%;
          margin-bottom: 1em;
        }

        a {
          text-decoration: none;
          color: inherit;
          height: 100%;

          img {
            width: 100%;
            height: 45%;
          }
          .text {
            height: 55%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h4 {
              margin: 0;
              padding: 0.125em 0.25em;
              text-align: center;
            }
            .author {
              margin: 0;
              padding-right: 3%;
              padding-bottom: 3%;
              text-align: right;
            }
          }
        }
      }
    }
  }
}
