.home {
  text-align: left;
}

.home h1 span {
  text-shadow: 4px 4px 3px black;
}

.home .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .content .posts {
  margin: 0 2em;
}

.home .content .posts section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3em;
}

.home .content .posts section img {
  width: 100%;
  -webkit-box-shadow: 10px 10px 12px #020723;
          box-shadow: 10px 10px 12px #020723;
}

.home .content .posts section h4 {
  margin: 1em auto 0em;
  font-size: 1.3em;
}

.home .content .posts section .author {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-style: italic;
}

.home .content .posts section a {
  text-decoration: none;
  color: #ee3e0e;
}

.home .content .posts section a:hover {
  color: #1e92f6;
}

.home .content .posts section .more-btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #04227a;
  color: #1e92f6;
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
  font-weight: 700;
  text-decoration: none;
}

.home .content .posts section .more-btn:hover {
  color: #7ff76f;
}

.home .content .posts #commas {
  width: 10%;
  margin-bottom: 0.5em;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.home .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
}

.home .about div {
  margin: 0 1em 1em;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .about div h3 {
  margin-bottom: 0;
  color: #ee3e0e;
}

.home .about div a {
  text-decoration: none;
  color: inherit;
  padding: 0.125em 0;
}

.home .about div a:hover {
  color: #1e92f6;
}

.home .new-articles {
  margin: 1em auto 4em;
}

.home .new-articles h2 {
  text-align: center;
  font-size: 2em;
  margin: 1.25em auto 1em;
}

.home .new-articles div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
}

.home .new-articles div .new-article {
  border: 4px solid #020723;
  width: 26%;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  margin: 0 auto 1.25em;
  overflow: hidden;
}

@media (min-width: 481px) and (max-width: 736px) {
  .home .new-articles div .new-article {
    width: 40%;
    margin-bottom: 2em;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .home .new-articles div .new-article {
    width: 40%;
    margin-bottom: 2em;
  }
}

@media (max-width: 360px) {
  .home .new-articles div .new-article {
    width: 80%;
    margin-bottom: 1em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .home .new-articles div .new-article {
    width: 80%;
    margin-bottom: 1em;
  }
}

.home .new-articles div .new-article a {
  text-decoration: none;
  color: inherit;
  height: 100%;
}

.home .new-articles div .new-article a img {
  width: 100%;
  height: 45%;
}

.home .new-articles div .new-article a .text {
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .new-articles div .new-article a .text h4 {
  margin: 0;
  padding: 0.125em 0.25em;
  text-align: center;
}

.home .new-articles div .new-article a .text .author {
  margin: 0;
  padding-right: 3%;
  padding-bottom: 3%;
  text-align: right;
}
/*# sourceMappingURL=Home.css.map */