@import "../Utils/Mixins/Mixins.scss";

.home {
  text-align: left;
  .content {
    display: flex;
    .posts {
      margin: 0 2em;
      section {
        display: flex;
        flex-direction: column;
        margin-bottom: 3em;
        img {
          width: 100%;
          box-shadow: 10px 10px 12px $darkBlue;
        }
        h4 {
          margin: 1em auto 0em;
          font-size: 1.3em;
          // text-decoration: underline;
        }

        .author {
          align-self: flex-end;
          font-style: italic;
        }
        a {
          text-decoration: none;
          color: $orange;
          &:hover {
            color: $lightBlue;
          }
        }
        .more-btn {
          width: -webkit-max-content;
          width: -moz-max-content;
          width: max-content;
          // align-self: flex-end;
          background: $royalBlue;
          color: $lightBlue;
          border-radius: 0.5em;
          padding: 0.2em 0.5em;
          font-weight: 700;
          text-decoration: none;
          &:hover {
            color: $green;
          }
        }
      }

      #commas {
        width: 10%;
        margin-bottom: 0.5em;
        box-shadow: none;
      }
    }
  }
  .about {
    display: flex;
    background: white;
    div {
      // margin-right: 2em;
      // margin-bottom: 1em;
      margin: 0 1em 1em;
      width: 20%;
      display: flex;
      flex-direction: column;
      h3 {
        margin-bottom: 0;
        color: $orange;
      }
      a {
        text-decoration: none;
        color: inherit;
        padding: 0.125em 0;
        &:hover {
          color: $lightBlue;
        }
      }
    }
  }
  .new-articles {
    margin: 1em auto 4em;

    h2 {
      text-align: center;
      font-size: 2em;
      margin: 1.25em auto 1em;
    }
    div {
      display: flex;
      flex-wrap: wrap;
      .new-article {
        border: 4px solid $darkBlue;
        width: 29%;
        margin: 0 1em;
        // padding: 0.25em;
        text-decoration: none;
        color: inherit;
        img {
          width: 100%;
        }
        .text {
          display: flex;
          flex-direction: column;
          width: 90%;
          margin: 0.25em auto;
          text-align: center;
          h3 {
            margin: 0;
          }
          p {
            margin: 0.25em 0;
          }
          span {
            text-align: right;
          }
        }
      }
    }
  }
}
