.footer-wrapper {
  background: #020723;
}

.footer-wrapper footer {
  color: goldenrod;
  margin-top: 2em;
  width: 85%;
  margin: auto;
}

.footer-wrapper footer .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

@media (max-width: 360px) {
  .footer-wrapper footer .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .footer-wrapper footer .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .footer-wrapper footer .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .footer-wrapper footer .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-wrapper footer .top .about h3 {
  color: #1e92f6;
  margin-bottom: 0;
}

.footer-wrapper footer .top .about span {
  color: #ee3e0e;
}

.footer-wrapper footer .top .about p {
  width: 80%;
  font-weight: 700;
}

@media (max-width: 360px) {
  .footer-wrapper footer .top .about p {
    margin: auto;
    margin-top: 0.5em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .footer-wrapper footer .top .about p {
    margin: auto;
    margin-top: 0.5em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .footer-wrapper footer .top .about p {
    margin: auto;
    margin-top: 0.5em;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .footer-wrapper footer .top .about p {
    margin: auto;
    margin-top: 0.5em;
  }
}

.footer-wrapper footer .top .newsletter {
  width: 30%;
}

@media (max-width: 360px) {
  .footer-wrapper footer .top .newsletter {
    width: 50%;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .footer-wrapper footer .top .newsletter {
    width: 50%;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .footer-wrapper footer .top .newsletter {
    width: 50%;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .footer-wrapper footer .top .newsletter {
    width: 50%;
  }
}

.footer-wrapper footer .top .newsletter h4 {
  color: #1e92f6;
  margin-bottom: 0.5em;
}

.footer-wrapper footer .top .newsletter .ctct-form .ctct-form-footer,
.footer-wrapper footer .top .newsletter .ctct-form .ctct-gdpr-text,
.footer-wrapper footer .top .newsletter .ctct-form .ctct-form-required,
.footer-wrapper footer .top .newsletter .ctct-form .ctct-form-text,
.footer-wrapper footer .top .newsletter .ctct-form .g-recaptcha,
.footer-wrapper footer .top .newsletter .ctct-form #gdpr_text {
  display: none;
}

.footer-wrapper footer .top .newsletter .ctct-form .ctct-form-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.footer-wrapper footer .top .newsletter .ctct-form .ctct-form-defaults {
  height: auto;
  padding: 0;
  background: inherit;
}

.footer-wrapper footer .top .newsletter .ctct-form .ctct-form-element {
  background: #020723;
  border: 2px solid #04227a;
  border-right: 0;
  color: goldenrod;
}

.footer-wrapper footer .top .newsletter .ctct-form .ctct-form-button {
  padding: 0 0.125em;
  font-size: 1em;
  height: 3em;
  width: 40%;
  border-radius: 0;
}

.footer-wrapper footer .top .newsletter .ctct-form h2 {
  color: goldenrod;
  font-size: 1.5em;
}

.footer-wrapper footer .top .newsletter div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  width: 100%;
}

.footer-wrapper footer .top .newsletter div input {
  border: 2px solid #04227a;
  background: #020723;
  width: 70%;
  color: goldenrod;
  font-weight: 600;
  font-size: 1em;
}

.footer-wrapper footer .top .newsletter div input::-webkit-input-placeholder {
  color: goldenrod;
}

.footer-wrapper footer .top .newsletter div input:-ms-input-placeholder {
  color: goldenrod;
}

.footer-wrapper footer .top .newsletter div input::-ms-input-placeholder {
  color: goldenrod;
}

.footer-wrapper footer .top .newsletter div input::placeholder {
  color: goldenrod;
}

.footer-wrapper footer .top .newsletter div button {
  color: goldenrod;
  background: #04227a;
  border: none;
  width: 30%;
  font-size: 0.9em;
  font-weight: 900;
}

.footer-wrapper footer .top .follow {
  padding: 0.5em 0.25em;
}

@media (max-width: 360px) {
  .footer-wrapper footer .top .follow {
    width: 40%;
    margin: 0.5em auto 1em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .footer-wrapper footer .top .follow {
    width: 40%;
    margin: 0.5em auto 1em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .footer-wrapper footer .top .follow {
    width: 40%;
    margin: 0.5em auto 1em;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .footer-wrapper footer .top .follow {
    width: 40%;
    margin: 0.5em auto 1em;
  }
}

.footer-wrapper footer .top .follow p {
  color: #1e92f6;
  font-weight: 700;
  text-align: center;
}

.footer-wrapper footer .top .follow .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-wrapper footer .top .follow .icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0.25em;
}

.footer-wrapper footer .top .follow .icons a img {
  width: 2em;
  height: 2em;
}

.footer-wrapper footer .bottom {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-wrapper footer .bottom p {
  margin-right: 3%;
}

@media (max-width: 360px) {
  .footer-wrapper footer .bottom p {
    margin-right: 5%;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .footer-wrapper footer .bottom p {
    margin-right: 5%;
  }
}

@media (max-width: 360px) {
  .footer-wrapper footer .bottom div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .footer-wrapper footer .bottom div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.footer-wrapper footer .bottom div a {
  text-decoration: none;
  color: goldenrod;
  padding: 0 0.25em;
}
/*# sourceMappingURL=Footer.css.map */