footer {
  background: #020723;
  color: goldenrod;
  margin-top: 2em;
}

footer .wrapper {
  width: 70%;
}

footer .wrapper .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

footer .wrapper .top .about h3 {
  color: #1e92f6;
  margin-bottom: 0;
}

footer .wrapper .top .about span {
  color: #ee3e0e;
}

footer .wrapper .top .about p {
  width: 80%;
  font-weight: 700;
}

footer .wrapper .top .newsletter {
  width: 30%;
}

footer .wrapper .top .newsletter h4 {
  color: #1e92f6;
  margin-bottom: 0.5em;
}

footer .wrapper .top .newsletter .ctct-form .ctct-form-footer,
footer .wrapper .top .newsletter .ctct-form .ctct-gdpr-text,
footer .wrapper .top .newsletter .ctct-form .ctct-form-required,
footer .wrapper .top .newsletter .ctct-form .ctct-form-text,
footer .wrapper .top .newsletter .ctct-form .g-recaptcha,
footer .wrapper .top .newsletter .ctct-form #gdpr_text {
  display: none;
}

footer .wrapper .top .newsletter .ctct-form .ctct-form-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

footer .wrapper .top .newsletter .ctct-form .ctct-form-defaults {
  height: auto;
  padding: 0;
  background: inherit;
}

footer .wrapper .top .newsletter .ctct-form .ctct-form-element {
  background: #020723;
  border: 2px solid #04227a;
  border-right: 0;
  color: goldenrod;
}

footer .wrapper .top .newsletter .ctct-form .ctct-form-button {
  padding: 0 0.125em;
  font-size: 1em;
  height: 3em;
  width: 40%;
  border-radius: 0;
}

footer .wrapper .top .newsletter .ctct-form h2 {
  color: goldenrod;
  font-size: 1.5em;
}

footer .wrapper .top .newsletter div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  width: 100%;
}

footer .wrapper .top .newsletter div input {
  border: 2px solid #04227a;
  background: #020723;
  width: 70%;
  color: goldenrod;
  font-weight: 600;
  font-size: 1em;
}

footer .wrapper .top .newsletter div input::-webkit-input-placeholder {
  color: goldenrod;
}

footer .wrapper .top .newsletter div input:-ms-input-placeholder {
  color: goldenrod;
}

footer .wrapper .top .newsletter div input::-ms-input-placeholder {
  color: goldenrod;
}

footer .wrapper .top .newsletter div input::placeholder {
  color: goldenrod;
}

footer .wrapper .top .newsletter div button {
  color: goldenrod;
  background: #04227a;
  border: none;
  width: 30%;
  font-size: 0.9em;
  font-weight: 900;
}

footer .wrapper .top .follow {
  padding: 0.5em 0.25em;
}

footer .wrapper .top .follow p {
  color: #1e92f6;
  font-weight: 700;
  text-align: center;
}

footer .wrapper .top .follow .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .wrapper .top .follow .icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0.25em;
}

footer .wrapper .top .follow .icons a img {
  width: 2em;
}

footer .wrapper .bottom {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .wrapper .bottom p {
  margin-right: 3%;
}

footer .wrapper .bottom div a {
  text-decoration: none;
  color: goldenrod;
  padding: 0 0.25em;
}
/*# sourceMappingURL=Footer.css.map */