@import "../Utils/Mixins/Mixins.scss";
//todo push to bottom on article view (no article)
footer {
  background: $darkBlue;
  color: goldenrod;
  margin-top: 2em;
  .wrapper {
    width: 70%;
    .top {
      display: flex;
      justify-content: space-between;
      text-align: left;
      @include breakpoint(xxs, xs, s, m) {
        flex-direction: column;
        text-align: center;
        align-items: center;
      }

      .about {
        h3 {
          color: $lightBlue;
          margin-bottom: 0;
        }
        span {
          color: $orange;
        }
        p {
          width: 80%;
          font-weight: 700;
          @include breakpoint(xxs, xs, s, m) {
            margin: auto;
            margin-top: 0.5em;
          }
        }
      }
      .newsletter {
        width: 30%;
        @include breakpoint(xxs, xs, s, m) {
          width: 50%;
        }

        h4 {
          color: $lightBlue;
          margin-bottom: 0.5em;
        }
        .ctct-form {
          .ctct-form-footer,
          .ctct-gdpr-text,
          .ctct-form-required,
          .ctct-form-text,
          .g-recaptcha,
          #gdpr_text {
            display: none;
          }
          .ctct-form-custom {
            display: flex;
            width: 100%;
          }
          .ctct-form-defaults {
            height: auto;
            padding: 0;
            background: inherit;
          }
          .ctct-form-element {
            // height: 3em;
            background: $darkBlue;
            border: 2px solid $royalBlue;
            border-right: 0;
            color: goldenrod;
          }
          .ctct-form-button {
            padding: 0 0.125em;
            font-size: 1em;
            height: 3em;
            width: 40%;
            border-radius: 0;
          }
          h2 {
            color: goldenrod;
            font-size: 1.5em;
          }
        }

        div {
          display: flex;
          height: 2em;
          width: 100%;

          input {
            border: 2px solid $royalBlue;
            background: $darkBlue;
            width: 70%;
            color: goldenrod;
            font-weight: 600;
            font-size: 1em;
            &::-webkit-input-placeholder {
              color: goldenrod;
            }
            &::-moz-placeholder {
              color: goldenrod;
            }
            &:-ms-input-placeholder {
              color: goldenrod;
            }
            &::-ms-input-placeholder {
              color: goldenrod;
            }
            &::placeholder {
              color: goldenrod;
            }
          }
          button {
            color: goldenrod;
            background: $royalBlue;
            border: none;
            width: 30%;
            font-size: 0.9em;
            font-weight: 900;
          }
        }
      }
      .follow {
        padding: 0.5em 0.25em;
        @include breakpoint(xxs, xs, s, m) {
          width: 40%;
          margin: 0.5em auto 1em;
        }
        p {
          color: $lightBlue;
          font-weight: 700;
          text-align: center;
        }
        .icons {
          display: flex;
          justify-content: space-between;
          a {
            display: flex;
            margin: 0 0.25em;
            img {
              width: 2em;
              height: 2em;
            }
          }
        }
      }
    }
    .bottom {
      // width: 95%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        margin-right: 3%;
        @include breakpoint(xxs, xs) {
          margin-right: 5%;
        }
      }
      div {
        @include breakpoint(xxs, xs) {
          display: flex;
          flex-direction: column;
          text-align: center;
        }

        a {
          text-decoration: none;
          color: goldenrod;
          padding: 0 0.25em;
        }
      }
    }
  }
}
