@import "../Utils/Mixins/Mixins.scss";

.search {
  color: $lightBlue;
  position: relative;
  align-self: center;
  input {
    line-height: 1.75em;
    font-size: 1.05em;
    width: 100%;

    &:focus {
      outline: 2px solid $lightBlue;
      width: 130%;
      transition: all 0.2s ease-out;
    }
    &:not(:focus) {
      transition: all 0.2s ease-out;
    }
    // &:not(:focus) ~ ul {
    //   display: none;
    // }
  }
  ul {
    position: absolute;
    list-style: none;
    width: 200%;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0;
    // border: 2px solid black;
    background: white;
    a {
      text-decoration: none;
    }
    li {
      border-bottom: 1px solid #000;
      color: $lightBlue;
      // width: 200%;
      &:hover {
        color: $royalBlue;
      }
      h4 {
        margin: 0.5em auto 0;
      }
      span {
      }
      p {
        word-wrap: wrap;
        margin: 0;
        margin: 0.5em 0;
      }
    }
  }
}
